*{
    margin: 0px;
    padding: 0px;
}

/*  navigation bar  */

#bar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}
#bar::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    background-color: black;
}

#ull{
    display: flex;
    padding: 32px ;
}
ul li a{
    padding: 23px;
    text-decoration:none;
    color: white;
    transition: all .4s;
    font-size: 20px; 
}
ul li a:hover{
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0px 7px 0px -2px rgb(255, 209, 4) , 0px 15px 0px -4px rgb(240, 7, 77) , 0px 16px 10px -3px rgb(245, 190, 11);
}
.ank{
    list-style: none;
}
#logo{
    display: flex;
    flex-direction: column;
}
#logo img{
    margin: 4px 65px 7px 36px;
    border: 2px solid black;
    background-color: white;
    border-radius: 67px;
}
.test{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: larger;
    color: purple;
    margin: 5px 6px 0px 57px;
}

/* section - home */
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:416px;
    /* border: 2px solid black; */
}
#home::before{
    content: "";
    position: absolute;
    background : url(ank2.jpg) no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.heading{
    font-size: 50px;
    font-family: 'Baloo Bhai 2', cursive;
}
#home p{
    font-family: 'Baloo Bhai 2', cursive;
    font-weight: bolder;
    padding: 0px 190px 0px 190px;
    margin: 31px 0px -27px 5px;
    text-align: center;
    font-size: 18px;
    color: white;
}
.btn{
    padding: 5px 8px 4px 7px;
    margin: 84px 0px -70px 4px;
    background-color: darksalmon;
    font-weight: bolder;
    transition: all s;
}
.btn:hover{
    cursor: pointer;
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0px 7px 0px -2px rgb(255, 209, 4) , 0px 15px 0px -4px rgb(240, 112, 7) , 0px 16px 10px -3px rgb(245, 190, 11);
}


/* section - our moto */
.box{
    display: flex;
    background-color: darksalmon;
    box-shadow: -17px -7px 22px darksalmon;
}
.box-1{
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px 26px 24px 31px;
    margin: 49px 26px 16px 39px;
    border-radius: 56px;
    background-color: rgb(172, 209, 104);
    font-family: 'Baloo Bhai 2', cursive;
    box-shadow: 12px 12px 22px rgb(83, 226, 27);
}
.box img{
    border-radius: 90px;
}
.heading2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin: 179px 0px 34px 0px;
    text-decoration: underline;
    font-family: 'Baloo Bhai 2', cursive;
    box-shadow: 12px 12px 22px black;
}
.free{
    font-size: 40px;
    text-align: center;
    padding: 2px 0px 7px 0px;
}
.box-1 p{
    text-align: center;
}
.ankit{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponser-1 img{
    border-radius: 90px;
    padding: 12px 55px ;
    box-shadow: 9px 12px 22px rgb(27, 186, 226);
}
.sponser-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    text-decoration: underline;
    margin: 32px 0px 149px 0px;
    font-family: 'Baloo Bhai 2', cursive;
    box-shadow: 12px 12px 22px black;
}
.ankit::before{
    content: "";
    position: absolute;
    background: url('main.jpg') no-repeat center center/cover;
    width: 100%; 
    z-index: -1;
    opacity: 0.4;
    height: 54%;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contactus.jpg')  no-repeat center center/cover ;
}
#h-primary-centeer{
    margin: 153px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Baloo Bhai 2', cursive;  
    font-size: 3rem;
}
.form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px 12px;
    border-radius: 45px;
}
#contact-box input,
#contact-box textarea
{
    width: 50%;
    padding: 0.2rem;
}
#contact-box label{
    font-size: 1.3rem;
    font-weight: bolder;
}
.btnn{
    display:block;
    width: 50px;
    margin: auto;
    transition: all .4s;
}
btnn:hover{
    border-radius: 5px;
    transform: translateY(-10px);
    box-shadow: 0px 7px 0px -2px rgb(255, 209, 4) , 0px 15px 0px -4px rgb(240, 7, 77) , 0px 16px 10px -3px rgb(245, 190, 11);
}

/* footer  */

.footer{
    background-color: black;
    color: white;
    /* margin: 100px; */
    padding: 12px 12px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

